[Unit]
Description=Deployment web server
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=user
ExecStart="/usr/bin/bash ci_server"
Environment="CI_TOKEN= "

[Install]
WantedBy=multi-user.target