[Unit]
Description=Deployment web server
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=user
ExecStart="/usr/bin/python3 /home/user/deployment/docker_deployment_server/main.py"
Environment="CI_TOKEN= "

[Install]
WantedBy=multi-user.target